<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <link rel="icon" type="image/x-icon" href="/images/anLogo.jpg">
    <style>
      .topnav {
        background-color: white;
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 5px;
        font-size: 25px;
        font-family: "Batang", serif;
      }
      .topnav a:hover {
        background-color: black;
        color: white;
      }
      .topnav a.active {
        background-color: white;
        color: red;
      }
    </style>
</head>
<body>
  <div class = "topnav">
    <a href = "contact.html" rel = "import" >Contact</a>
    <a class = "active" href = "aboutme.html" rel = "import" >About Me</a>
    <a href = "projects.html" rel = "import" >Projects</a>
    <a href = "https://abigailnacional.github.io">Home</a>
  </div>
  <a href = "https://abigailnacional.github.io">
    <img src = "/images/fullLogo.jpg" alt = "Logo of a black letter 'A' in 
    Baybayin script overlapped with a red latin letter 'N'. The name 
    'Abigail Nacional', in black text, is to the right of the logo."
    style = "width: 500px; height: 100px;" float = left;>
  </a>
  <br>
  <h1 id = "top">About Me</h1>
  <p>
    <a href= "#education">Education</a> <br>
    <a href= "#skills">Skills</a> <br>
    <a href= "#work-experience">Work Experience</a>
  </p>

  <h2 id = "education">Education</h2>
  <p>
    I am currently in my senior undergraduate year at Duke University
    and am working towards my B.S. in Computer Science.
  </p> <br>
  <a href = "#top">Back to Top</a>

  <h2 id = "skills">Skills</h2> <br>
  <a href = "#top">Back to Top</a>

  <h2 id = "work-experience">Work Experience</h2> <br>
  <a href = "#top">Back to Top</a>
</body>
</html>