<!DOCTYPE html>
<html lang="en">
<head>
  <title>About Me</title>
  <link rel="icon" type="image/x-icon" href="/images/anLogo.jpg">
    <style>
      .topnav {
        background-color: white;
        overflow: hidden;
      }
      .topnav a {
        float: right;
        color: black;
        text-align: center;
        padding: 5px;
        font-size: 25px;
        font-family: 'Batang', serif;
      }
      .topnav a:hover {
        background-color: black;
        color: white;
      }
      .topnav a.active {
        background-color: white;
        color: rgb(236, 26, 37);
      }
      h1 {
        color: black;
        text-align: center;
      }
      h2 {
        color: rgb(236, 26, 37);
      }
      p {
        font-size: 20px;
      }
    </style>
</head>
<body>
  <div class = "topnav">
    <a href = "contact.html" rel = "import" >Contact</a>
    <a class = "active" href = "aboutme.html" rel = "import" >About Me</a>
    <a href = "projects.html" rel = "import" >Projects</a>
    <a href = "https://abigailnacional.github.io">Home</a>
  </div>
  <a href = "https://abigailnacional.github.io">
    <img src = "/images/fullLogo.jpg" alt = "Logo of a black letter 'A' in 
    Baybayin script overlapped with a red latin letter 'N'. The name 
    'Abigail Nacional', in black text, is to the right of the logo."
    style = "width: 500px; height: 100px;" float = left;>
  </a>
  <br>
  <div style = "font-family: 'Batang', serif;">
    <h1 id = "top">About Me</h1>
    <p style = "text-align: center;">
      <a href= "#skills">Skills</a> <br>
      <a href= "#work-experience">Work Experience</a> <br>
      <a href= "#education">Education</a>
    </p>

    <h2 id = "skills">Skills</h2>
    <p>
Programming Languages
C
Java
C++
Javascript
Python
R
SQL
MongoDB
MIPS Assembly

Team Leadership
Online Research
Teamwork
Power Tools
Contemporary Dance
Flute
Piccolo
Tap Dance
Hip-Hop Dance
Ballet
Folk Dance
    </p> <br>
    <a href = "#top">Back to Top</a>

    <h2 id = "work-experience">Work Experience</h2>
    <p>

Duke University logo
Laboratory AssistantLaboratory Assistant
Duke University · Full-timeDuke University · Full-time Jun 2019 - Jul 2019 · 2 mosJun 2019 - Jul 2019 · 2 mos Raleigh-Durham, North Carolina AreaRaleigh-Durham, North Carolina Area

        I conducted cognitive psychology research for 5 and a half weeks in Duke University's Memory for Movement Lab. Dr. Ruth S. Day was my principal investigator, and I worked with a small team of fellow students to conduct an experiment on volunteer dancers from the 2019 American Dance Festival.

Duke University logo
Scenic CarpenterScenic Carpenter
Duke UniversityDuke University Sep 2017 - Feb 2018 · 6 mosSep 2017 - Feb 2018 · 6 mos Raleigh-Durham, North Carolina AreaRaleigh-Durham, North Carolina Area

        I worked alongside a team in the Scene Shop in order to construct and repair sets for the Duke University Theatre Department by utilizing a variety of hand and power tools as well as paint and plaster.

        Youth in Government Advisory Board MemberYouth in Government Advisory Board Member
        Town of Wake ForestTown of Wake Forest Aug 2016 - Jun 2017 · 11 mosAug 2016 - Jun 2017 · 11 mos Raleigh-Durham, North Carolina AreaRaleigh-Durham, North Carolina Area
        
                -Advised the Wake Forest Board of Commissioners and town staff on issues of interest to youth
                -Gained experience with local government by attending Board of Commissioners work sessions
                -Conducted an annual Coat Drive in collaboration with the Wake Forest Boys & Girls Club

                Student ResearcherStudent Researcher
                North Carolina Governor's School West at Salem CollegeNorth Carolina Governor's School West at Salem College Jun 2016 - Jul 2016 · 2 mosJun 2016 - Jul 2016 · 2 mos Greensboro/Winston-Salem, North Carolina AreaGreensboro/Winston-Salem, North Carolina Area
                
                        -Completed a scientific literature review on neurological connections between emotional and somatic pain in poster format
                        -Referenced peer-reviewed journals in order to compile information and draw logical conclusions
                        -Presented findings to college professors and peers

                        Student ResearcherStudent Researcher
                        Summer Ventures in Science and Mathematics at Appalachian State UniversitySummer Ventures in Science and Mathematics at Appalachian State University Jun 2015 - Jul 2015 · 2 mosJun 2015 - Jul 2015 · 2 mos Boone, NCBoone, NC
                        
                                -Completed a research project comparing the efficacy of social media support groups to their in-person equivalents
                                -Drew logical conclusions by referencing peer-reviewed journals, conducting a scientific experiment, and employing statistical software to analyze data
                                -Presented findings to college professors, professionals, and peers-Completed a research project comparing the efficacy of social media support groups to their in-person equivalents -Drew logical conclusions by referencing peer-reviewed journals, conducting a scientific experiment, and employing statistical software to analyze data -Presented findings to college professors, professionals, and peers
                        
                        North Carolina Governor's Office logo
                        Girl Scout PageGirl Scout Page
                        North Carolina Governor's OfficeNorth Carolina Governor's Office Mar 2015 · 1 moMar 2015 · 1 mo Raleigh-Durham, North Carolina AreaRaleigh-Durham, North Carolina Area
                        
                                I was selected for the Girl Scout Governor's Program through a state-wide application process. I provided assistance to the staff of Governor Patrick McCrory in the North Carolina Department of Administration. 
    </p> <br>
    <a href = "#top">Back to Top</a>

    <h2 id = "education">Education</h2>
    <div style = "display: inline-block;">
      <img src = "/images/backDuke.PNG" alt = "A girl with her back to the camera.
      She is wearing a dark blue bag that says 'Duke' on it and is looking at 
      a tall building in the distance.">
      <img src = "/images/chapelPic.PNG" alt = "A girl smiling at the camera 
      with Duke University's chapel in the background.">
    </div>
    <p>
      I am currently in my senior undergraduate year at Duke University
      and am working towards my B.S. in Computer Science.
    </p> <br>
    <a href = "#top">Back to Top</a>
  </div>
  
</body>
</html>